.form-item label, .form-item submit {
	display: block;
  font: 17px Arial;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-item input, .mceContentBody {
  margin-bottom: 50px;
}

#categories {
  margin-bottom: 50px;
}

.mceContentBody {
  resize: both;
}

.form-item .description {
	color: grey;
	font-size: 11px;
}

.form-item {
	padding: 5px 0;
}
