body {
  font: 13px Arial;
  text-align: center;
}

#wrapper {
  width: 800px;
  margin: 0 auto;
}

#logo {
  margin: 50px 0 10px 0;
}

#header{
  margin: 50px 0 10px 0;
}

#footer {
  margin: 150px 0 25px 0;
}

#main {
  text-align: left;
  border-top: 1px dotted;
  clear: both;
  padding: 0 100px;
}

#logo_small {
  float: left;
  margin-left: 90px;
}

.alphabet {
  border-bottom: 1px dotted;
  padding: 5px 0;
  clear: both;
}

#search {
  float: right;
  margin: 15px 90px 0 0;
}

#sb {
  width: 400px;
}

a {
  color: #6aa413;
}

a:link, a:visited {
  text-decoration: none;
}

a:active, a:hover {
  border-bottom: 1px dotted;
}

img {
  border: none;
}

.active {
  color: #497c00;
  font-weight: bold;
}

.error {
  background-color: #ffcccc;
  border: 1px solid #dd7777;
}

.marginb5 {
  margin-bottom: 5px;
}

h1 {
  font-size: 24px;
}

.contact-form label {
  display: block;
  font-weight: bold;
}

.contact-form textarea {
  width: 450px;
  height: 190px;
}

.contact-form input[type="text"] {
  margin-bottom: 17px;
  width: 250px;
}

.message {
  font-weight: bold;
  padding: 15px 35px;
  margin-bottom: 25px;
}

.success {
  background-color: #f8fff0;
  color: #234600;
  border: 1px solid #bbee77;
}

.ab {
  margin: 30px 0 50px 0;
}
